<h2 style="text-align: center;">Welcome Admin</h2><br><br>
<div class="container">
    <ul>

        <li>
            <a routerLink="/adminallmovies">
                <button class="btn btn-success">All Movies</button>
            </a>
        </li><br><br>


        <li>
            <a routerLink="/addmovie">
                <button class="btn btn-danger">Add Movie</button>
            </a>
        </li><br><br>

        <li>
            <a routerLink="/homepage">
                <button class="btn btn-secondary">Logout</button>
            </a>
        </li>
    </ul>
</div>

<router-outlet></router-outlet>